@use "../abstract/variables" as *;

body {
  font-family: $font-primary;
  }
  
.container {
  width: min(1100px, 92%);
  margin: 0 auto;
}


.container--nav {
  max-width: $layout-width;
  margin: 0 auto;
  padding-left: $header-padding-left;
  padding-right: $header-padding-right;
}

.container--hero {
  width: $hero-width;
  margin-left: $hero-offset-left;
  margin-right: auto;
}

/* Responsive */
@media (max-width: $bp-xl) {
  .container--hero {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .container--nav {
    padding-left: 24px;
    padding-right: 24px;
  }
}



