@use "../abstract/variables" as *;

$purple: #57007B;

.approach {
    padding: 5rem 0;
    background: #f7f7fa;
    text-align: center;
}

.approach__bar {
    display: inline-block;
    width: 42px;
    height: 3px;
    background: $purple;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.approach__title {
    margin: 0 0 2.5rem;
    font-size: 2rem;
    font-weight: 400;

    strong {
        font-weight: 700;
    }
}

.approach__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
}

.approach-card {
    border: 1px solid $color-border;
    padding: $space-lg;
    background: #fff;
}

.approach-card__row {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}


.approach-card__icon {
    flex: 0 0 56px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    img {
        width: 24px;
        height: 24px;
        display: block;
    }
}



.approach-card__icon--rocket {
    background: linear-gradient(200deg, #29272E, #27272E);
}

.approach-card__icon--tag {
    background: linear-gradient(200deg, #68DBF2, #509CF5);
}

.approach-card__icon--heart_rate {
    background: linear-gradient(200deg, #FF92AE, #FF3D9A);
}

.approach-card__icon--shield {
    background: linear-gradient(200deg, #67E9F1, #24E795);
}

.approach-card__icon--succes {
    background: linear-gradient(200deg, #FFEF5E, #F7936F);
}

.approach-card__icon--padlock {
    background: linear-gradient(200deg, #F76680, #57007B);
}


.approach-card__content {
    display: flex;
    flex-direction: column;
}


.approach-card__title {
    margin: 0 0 0.5rem;
    font-size: $fs-md;
    font-weight: 700;
    color: $color-text-dark;
}

.approach-card__text {
    margin: 0;
    color: $color-text;
    line-height: 1.6;
    font-size: 0.95rem;
}