@use "../abstract/variables" as *;



.workflow {
  padding: 5rem 0 6rem;
  text-align: center;
  background: $color-white;
}

.workflow__bar {
  display: block;
  width: 42px;
  height: 3px;
  background: $color-primary;
  border-radius: 2px;
  margin: 0 auto 1rem;
}

.workflow__title {
  margin: 0 0 4rem;
  font-size: 2.2rem;
  font-weight: 400;

  strong {
    font-weight: 700;
  }
}

.workflow__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
  align-items: start;
}

.workflow-card {
  border: 1px solid $color-border;
  background: $color-white;
  text-align: left;
  padding: 1.6rem 1.6rem 1.4rem;
}

.workflow-card__title {
  margin: 0 0 0.8rem;
  font-size: 1.05rem;
  font-weight: 700;
  color: $color-text;

  span {
    color: $color-primary;
    font-weight: 800;
    margin-right: 0.5rem;
  }
}

/*le gradient veut pas se mettre sur le #1...#6*/

.workflow-card__step {
  color: $color-primary;
  font-weight: 800;
  margin-right: 0.5rem;
}

.workflow-card__text {
  margin: 0;
  color: #718096;
  line-height: 1.7;
  font-size: 0.95rem;
}

/* la ligne du milieu */
.workflow-line {
  grid-column: 1 / -1;
  height: 2px;
  background: $color-red;
  position: relative;
  margin: 0.5rem 0;
}

/* les lignes verticalles (j'arrive pas a les connecté a la ligne pricnipale */
.workflow-card--top {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -38px;
    width: 2px;
    height: 32px;
    background: $color-red;
    transform: translateX(-50%);
  }
}

.workflow-card--bottom {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -38px;
    width: 2px;
    height: 32px;
    background: $color-red;
    transform: translateX(-50%);
  }
}

.workflow-line__trophy {
  position: absolute;
  right: -28px;
  top: -18px;
  font-size: 28px;
}

